* {
  box-sizing: border-box;
}

html, body {
  height: 100%; margin: 0; padding: 0;
}

header {
  background-color: 7f7f7f;
}

header {
  text-align: right;
}

svg.hamburger {
  width: 48px;
  height: 48px;
  fill: #e0e0e0;
}

svg.filter {
  display: inline;
  max-width: 20px;
  height: 100%;
  vertical-align: middle;
  fill: white;
}

input {
  display: block;
  float: left;
  font-size: 1em;
  height: 100%;
  width: 70%;
  border: none;
  padding: 0 1em;
}

button {
  display: block;
  float: right;
  height: 100%;
  width: 30%;
  font-size: 1em;
  border: 0;
  padding: 0;
  background: linear-gradient(#5687c2, #406da0);
  color: white;
}

div.location_filter {
  z-index: 10;
  background-color: #ffffff; /* Computed value is black. Best set this. */
  max-width: 80vw;

  height: 48px;
  border: 1px solid #406da0;

  /* Default 'top' and 'left' as per 'static': right below header, and 0. */
  position: absolute;

  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
}

div.location_filter.open, .locations.open {
  transform: translate(0, 0);
}

.locations {
  z-index: 10;
  overflow: scroll;
  max-height: 80vh;
  max-width: 80vw;
  background-color: #ffffff; /* Computed value is black. Best set this. */

  position: absolute;
  top: calc(48px * 2);

  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
}

.locations.selected {
  opacity: 0.7;
}

.locations div {
  border-bottom: 1px solid #ffffff; /* Separator. */
  color: white;
  background-color: black;
  width: 100%;
  text-align: left;
  padding: 1em 1em;
}

.locations div.selected {
  background-color: gray;
}

.locations div.hidden {
  display: none;
}

#map {
  height: 90%;
}

footer {
  font-size: 0.8em;
  padding: 0 1em;
}
